@mixin setSize($w: 0%, $h: 0%) {
  width: $w !important;
  height: $h !important;
}

@mixin setEqualSize($dimens: 0%) {
  width: $dimens !important;
  height: $dimens !important;
}

@mixin setFlex($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction !important;
  justify-content: $justify !important;
  align-items: $align;
  @content;
}

@mixin setAbs($top: null, $left: null, $right:null, $bottom:null) {
  position: absolute !important;

  @if $top {
    top: $top !important;
  }

  @if $left {
    left: $left !important;
  }

  @if $right {
    right: $right !important;
  }

  @if $bottom {
    bottom: $bottom !important;
  }

  @content;
}

@mixin setBorder($radius: null, $positions...) {
  @if $radius {
    @if length($positions)>1 {
      @each $pos in $positions {
        border-#{$pos}-radius: $radius !important;
      }
    }

    @else {
      border-radius: $radius;
    }
  }
}

@mixin clearInput() {
  outline: none;
  border: none;
  background: none;
}

@mixin setTransition($duration: 0s, $args...) {
  transition: $duration ease-in-out;
  transition-property: $args;
}

@mixin scheme($sch) {
  @if $sch==primary {
    background: $color__blue !important;
    color: $color__white !important;

  }

  @else if $sch==secondary {
    background: $color__white !important;
    color: $color__dark !important;

  }
}

@mixin applyColor($color:$tooltipColor, $textColor:$tooltipTextColor) {

  @each $position in top,
  bottom,
  left,
  right {
    &.simptip-position-#{$position} {
      &:before {
        border-#{$position}-color: $color;
      }

      &:after {
        background-color: $color;
        color: $textColor;
      }
    }
  }

  @each $position in top,
  bottom {
    &.simptip-position-#{$position} {
      &.half-arrow {
        &:before {
          border-right: $arrowSize+1px solid $color;
        }
      }
    }
  }
}

@mixin border-radius($radius: 4px) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

@mixin fade ($duration: 0.2s) {
  @include transition(opacity $duration linear, visibility $duration linear);
}

@mixin transform($string) {
  -webkit-transform: $string;
  -moz-transform: $string;
  -ms-transform: $string;
  -o-transform: $string;
  transform: $string;
}

//generate multiline tooltips
@mixin multiline ($width: 150px, $align: left) {
  height: auto;
  width: $width;
  padding: $tooltipHeight/2;
  line-height: $tooltipHeight - 3px;
  white-space: normal;
  text-align: $align;
}