// dimensions
$dimens__width--full: 100%;
$dimens__height--full: 100%;
$dimens__gutter: 10px;
$dimens__width--card: 900px;
$dimens__width--sidebar: 55px;
$dimens__size--font: 14pt;

// colors
$color__dark: #040507;
$color__subtitle: #151920;
$color__green: #04e48f;
$color__white: #ffffff;
$color__gray: #5987a1;
$color__lightgray: #ecf1f3;
$color__blue: #1f7efb;
$color__red: #f53b57;

// fonts
$font__muli: "Muli",
sans-serif;
$font__roboto: "Roboto Condensed",
sans-serif;

//tooltip
$tooltipHeight: 22px;
$arrowSize: 6px;
$tooltipColor: #323232;
$tooltipTextColor: #ecf0f1;

// tooltip color
$c-success: #62c462;
$c-info: #5bc0de;
$c-danger: #e74c3c;
$c-warning: #e67e22;

// tooltip opts
$left-positioning: true !default;
$right-positioning: true !default;
$top-positioning: true !default;
$bottom-positioning: true !default;
$half-arrows: true !default;

$movable: true !default;
$soft-edge: true !default;
$fade-effect: true !default;
$multiline: true !default;

$coloring: true !default;